AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=eu-north-1
S3_BUCKET_NAME=erdalguda-assets
S3_PUBLIC_BASE_URL=https://erdalguda-assets.s3.eu-north-1.amazonaws.com
S3_UPLOAD_ENABLED=true
